.container{
  width: 100%; height: 100%;
  margin: 0;
  overflow: hidden;
}
img{
  position: absolute;
}
.space{
  width: 100%; height: 100%;
  overflow: hidden;
  
}
.space1{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
}
.Ufo{
  position: absolute;
  top:30%; left: 10%;
  overflow: hidden;
  width: 23%;
}

#rocket{
  position: absolute;
  top: 7%;
  width: 10%;
  transform: rotate(50deg);
  z-index: 1;
}

.mercury{
  width: 23%;
  left: 75%;
}
.rocketb{
  width: 12%;
  /* transform: rotate(180deg); */
  left: 5%;
  bottom: 1%;
}
.astronaut{
  width: 20%;
  transform: rotate(50deg);
  top: 45%;
}
.planets{
  /* transform:translateX(100%); */
  overflow:hidden;
  width: 29%;
  left: 0%;
  right: 70%;
  z-index: 2;
}